.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1f2ebf;
    position: fixed;
}

.nav_left{
    margin-left: 2%;
}

.paxcom{
    font-size: 1.6rem;
    color: #ffffff;
    font-weight: bold;
}
.paxcom:hover{
    color: #ffffffb2;
    cursor: pointer;
}

.users_icon{
    height: 1.6rem;
    width: 1.6rem;
    background-color: 2px solid red;
    position: absolute;
    left: 10rem;
    top: 1.8rem;
    transform: scale(2)
}

.users_icon:hover{
    cursor: pointer;
}
.nav_right{
    display: flex;
    width: 40%;
    justify-content: space-around;  
}
.nav_right_body{
    font-weight: bold;
    font-size: 1.4em;
    color: #ffffff;
}
.nav_right_body:hover{
    color: #ffffffb2;
    cursor: pointer;

    
}
