.nav{
    height: 8vh;
    width: 100%;
    display: flex;
    background-color: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 100px;
    position: fixed;
    

    


}
.paxcom{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.nav .right_nav{
    display: flex;
    list-style: none;
    
}

.li{
    margin: 0 8px;
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.active,
.li:hover{
    cursor: pointer;
    background-color: white;
    color: #1b1b1b;
}

.userIcon{
    transform: scale(2);
    color: white;
    display: flex;
    margin: 0 12px 0 24px;
    align-items: center;
}

.userIcon:hover{
    cursor: pointer;
}
