.this_body{
    background-image: url('../../public/Images/login-background.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
   height: 60%;
   width: 30%;
   background-color:rgba(35, 67, 52, 0.3);

}
.header{
    height: 10%;
    text-align: center;
    font-size: 1.7rem;
    color: #5025a5f5;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.formFld{
    height: 90%;
}
.name{
    display: flex;
    justify-content: space-around;
}
.input{
    margin-top: 1rem;
    padding: 0.8rem;
    
}

.cred{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.selfData{
    margin-top: -0.0rem;
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mobile{
    margin-left: 2rem;
}

.submitBtn{
    margin-left: 2rem;
    padding: 0.8rem;    
    width: 40%;
    cursor: pointer;
    background-color: rgb(30, 30, 163);

}
.submitBtn:hover{
    background-color: rgb(16, 16, 90);
}


.msg{
    position: relative;
    top: .5rem;
    left: 2.2rem;
    color: rgb(131, 0, 0);
}